*.exe
**.exe
.vscode
.vscode/
vscode
.exe
OOPS/tempCodeRunnerFile.cpp
tempCodeRunnerFile.cpp
.deb
main.cpp

# Ignore all files and dir's
*
# Unignore all with extensions
!.
# Unignore all dirs
!*/
# ignore all .idea folder
*.idea
# ignore all .vscode folder
*.vscode
